* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

header
{

}

strong
{
  color: #009966;
}

main
{
  background-color: #666666;
  box-shadow: 0 -0.5rem #999999;
}

.indented-heading
{
  background-color: #FFBF00;
  width: fit-content;
  padding: 1rem 2rem;
  margin-left: -2rem;
  margin-top: -1rem;
  box-shadow: 0 0.5rem #CC9900;
}

.card
{
  background-color: #FFFFFF;
  padding: 1.5rem;
  box-shadow: 0 0.5rem #999999;
}

.intro-chunk
{
  padding: 1.5rem;
  max-width: 23rem;
}

.max-width-wrapper
{
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin: auto;
  max-width: 40rem;
}