* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Use the correct typography, and don't apply to html, then everything scales! */
p
{
  font-size: 20px;
}

/* Use the correct typography */
h1
{
  font-size: 2rem;
}

/* Use the right color */
strong
{
  color: #009966;
}

/* Use the correct typography, and include the shadow */
main
{
  background-color: #666666;
  box-shadow: 0 -0.5rem #999999;
}

/* The styling includes negative margin to look like a banner, shrink to content, and correct shadow & typography*/
.indented-heading
{
  font-size: 1.5rem;
  background-color: #FFBF00;
  width: fit-content;
  padding: 1rem 2rem;
  margin-left: -2rem;
  margin-top: -1rem;
  box-shadow: 0 0.5rem #CC9900;
}

/* Use padding to correctly give space inside this container, as well as include shadow */
.card
{
  background-color: #FFFFFF;
  padding: 1.5rem;
  box-shadow: 0 0.5rem #999999;
}

/* This padding is included to align all text vertically */
.intro-chunk
{
  padding: 1.5rem;
}

/***** Use styling similar to the 'width lesson' in Module 1, to account for styling change on window resizing *****/
.max-width-wrapper
{
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin: auto;
  max-width: 50rem;
}